body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

nav {
  background: #111;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 40px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #ffffff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  text-decoration: none;
  color: #00adb5;
  font-weight: bold;
}

.dark {
  background-color: #121212;
  color: white;
}

.dark nav {
  background: #000;
}

.dark section {
  background: #1e1e1e;
}

.dark .project-card {
  background: #2a2a2a;
}

.dark a {
  color: #00fff5;
}

.dark-btn {
  background: #00adb5;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

/* ===== INTRO VIDEO ===== */

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.dark #intro-video {
  background: #1e1e1e;
}
